# Environment variables (SANGAT PENTING - Menjaga API Key Aman)
.env
*.env

# Python artifacts
__pycache__/
*.py[cod]
*.class
venv/
.venv/

# Node / React
node_modules/
build/
dist/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/

# Local database
backend/data/

# Local AI cache
backend/cache/
